.aboutMe__wrapper {
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
}

.upper__content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 50px;
}

.upper__h1 {
    font-family: "PTSerif-Regular";
    font-size: 36px;
    letter-spacing: 3px;
    color: rgba(85, 61, 42, .95);
}

.upper__text {
    font-family: "Montserrat-Medium";
    text-align: left;
    font-size: 18px;
    letter-spacing: 2px;
    color: rgba(85, 61, 42, .95);
}

.line {
    position: absolute;
    width: 120px;
    height: 70px;
    fill: red;
    left: 50%;
    top: 29%;
}

.bottom__content {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
}

.bottomContent__image-wrapper {
    max-width: 400px;
    height: 500px;
}

.bottomContent__image {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.bottom__text {
    position: relative;
    // right: 120px;
    font-size: 20px;
    font-family: "Montserrat-Italic";
    letter-spacing: 3px;
    font-weight: 500;
}


// MEDIA    
@media (max-width: 880px) {
    .line {
        width: 115px;
        height: 60px;
        top: 30%;
    }

    .container {
        padding: 0 10px;
    }
}


@media (max-width: 730px) {
    .line {
        width: 110px;
        height: 60px;
        top: 30%;
    }
}


@media (max-width: 660px) {
    .line {
        width: 110px;
        height: 60px;
        top: 30%;
    }
}


@media (max-width: 630px) {
    .upper__h1 {
        font-size: 30px;
    }

    .upper__text {
        font-size: 16px;
    }

    .bottom__text {
        font-size: 18px;
        letter-spacing: 1px;
    }

    .line {
        top: 27%;
    }

    .bottomContent__image-wrapper {
        width: 300px;
        height: 400px;
    }
}

@media (max-width: 545px) {
    .bottom__text {
        font-size: 14px;
    }

    .bottomContent__image-wrapper {
        width: 250px;
        height: 300px;
    }
}

@media (max-width: 516px) {
    .upper__h1 {
        font-size: 24px;
    }

    .upper__text {
        font-size: 14px;
        letter-spacing: 1px;
    }
}

@media (max-width: 485px) {
    .upper__h1 {
        font-size: 24px;
    }

    .upper__text {
        font-size: 14px;
        letter-spacing: 1px;
    }

    .bottom__text {
        margin-top: 20px;
    }
}

@media (max-width: 408px) {
    .upper__h1 {
        font-size: 18px;
    }

    .upper__text {
        font-size: 14px;
        letter-spacing: 1px;
    }
    
    .bottom__content {
        gap: 10px;
        flex-direction: column;
        // align-items: center;
    }

    .bottom__text {
        font-size: 14px;
        margin-top: 15%;
        text-align: left;
    }

    .bottomContent__image-wrapper {
        width: 250px;
        height: 300px;
        margin: 0 auto;
    }

    .line {
        top: 75%;
        left: 40%;
        width: 100px;
        height: 50px;
        transform: rotate(90deg);
    }
}


@media (max-width: 375px) {
    .line {
        top: 74%;
        width: 50px;
        height: 50px;
        left: 45%;
    }
}

@media (max-width: 354px) {
    .upper__text {
        font-size: 12px;
    }

    .bottom__content {
        margin-top: 40px;
    }

    .line {
        top: 70%;
        width: 50px;
        height: 50px;
        left: 45%;
    }
}

@media (max-width: 331px) {
    .upper__h1 {
        font-size: 16px;
        letter-spacing: 2px;
    }
}