.image {
    width: 500px;
    height: 500px;
}

.startPage__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.image__wrapper {
    max-width: 400px;
    height: 500px;


    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        -webkit-box-shadow: 22px 25px 44px -28px rgba(0,0,0,0.34);
        -moz-box-shadow: 22px 25px 44px -28px rgba(0,0,0,0.34);
        box-shadow: 22px 25px 44px -28px rgba(0,0,0,0.34);
        
    }
}

.info__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.owner__name {
    text-align: center;
    font-family: "PTSerif-Regular";
    color: rgba(85, 61, 42, .95);
    font-size: 36px;
    letter-spacing: 7px;
    margin-top: 15px;
}

.profession__descr {
    position: relative;
    display: flex;
    flex-direction: column;
    // justify-content: flex-start;
    gap: 20px;
    align-items: left;
    font-family: "Montserrat-Regular";
    text-align: justify;
    margin-top: 65px;

    h3 {
        font-size: 30px;
        text-align: left;
        font-family: "PTSerif-Regular";
        color: rgba(85, 61, 42, 0.95);
        font-size: 36px;
        letter-spacing: 7px;
    }
}

.span__wrapper {
    display: flex;
    flex-direction: column;
    // align-items: center;
    padding-top: 20px;
    margin-top: 30px;

    h4 {
        font-family: "PTSerif-Regular";
        letter-spacing: 1px;
        font-size: 18px;
        margin-left: 10px;
    }

    span {
        margin-top: 20px;
        margin-left: 10px;
        color: rgba(67,75,77, 1);
    }

    span:last-child {
        font-weight: 500;
        text-align: center;
        font-family: "Montserrat-Medium";
    }

    ul {
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        margin-top: 2%;
        gap: 10px;
        list-style: none;
    }

    // &:not(:last-child)::before {
    //     position: relative;
    //     width: 100%;
    //     height: .1px;
    //     background-color: rgba(85, 61, 42, 1);
    //     content: "";
    // }

    &:not(:last-child) {
        border-top: 1px rgba(85, 61, 42, 1) solid;
    }
}

.contactButton__wrapper {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 150px;
    border-radius: 5px;
    background-color: rgba(85, 61, 42, .95);
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;


    &:hover,
    &:focus {
        background-color: rgba(85, 61, 42, .75);
    }
}


// MEDIA
@media (max-width: 630px) {
    .startPage__content {
        margin-top: 30px;
    }

    .image__wrapper {
        // width: 250px;
        height: 370px;
    }

    .info__content {
        margin-top: 20px;
    }

    .contactButton__wrapper {
        padding: 15px 120px;
    }
}

@media (max-width: 500px) {
    .owner__name {
        font-size: 28px;
    }

    .contactButton__wrapper {
        padding: 15px 100px;
    }
}


@media (max-width: 430px) {
    .owner__name {
        font-size: 24px;
        text-align: center;
    }

    .profession__descr {
        font-size: 14px;
    }

    // .contactButton__wrapper {
    //     padding: 15px 120px;
    // }
}

@media (max-width: 390px) {
    .profession__descr {
        padding: 0 10px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (max-width: 360px) {
    .profession__descr {
        padding: 0 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .owner__name {
        font-size: 20px;
        text-align: center;
    }

    .contactButton__wrapper {
        padding: 15px 80px;
    }

    .container {
        padding: 0 5px;
    }
}