.image {
    width: 500px;
    height: 500px;
}

.startPage__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
}

.image__wrapper {
    max-width: 400px;
    height: 500px;


    img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
    }
}

.info__content {
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.owner__name {
    text-align: center;
    font-family: "PTSerif-Regular";
    color: rgba(85, 61, 42, .95);
    font-size: 36px;
    letter-spacing: 7px;
}

.profession__descr {
    font-family: "Montserrat-Italic";
    text-align: center;
}

.contactButton__wrapper {
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 150px;
    border-radius: 5px;
    background-color: rgba(85, 61, 42, .95);
    color: #fff;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;


    &:hover,
    &:focus {
        background-color: rgba(85, 61, 42, .75);
    }
}


// MEDIA
@media (max-width: 630px) {
    .startPage__content {
        margin-top: 30px;
    }

    .image__wrapper {
        width: 300px;
        height: 400px;
    }

    .info__content {
        margin-top: 20px;
    }

    .contactButton__wrapper {
        padding: 15px 120px;
    }
}

@media (max-width: 500px) {
    .owner__name {
        font-size: 28px;
    }

    .contactButton__wrapper {
        padding: 15px 100px;
    }
}


@media (max-width: 430px) {
    .owner__name {
        font-size: 24px;
        text-align: center;
    }

    .profession__descr {
        font-size: 14px;
    }

    // .contactButton__wrapper {
    //     padding: 15px 120px;
    // }
}

@media (max-width: 390px) {
    .profession__descr {
        padding: 0 10px;
        font-size: 12px;
        font-weight: 500;
    }
}

@media (max-width: 360px) {
    .profession__descr {
        padding: 0 5px;
        font-size: 12px;
        font-weight: 500;
    }

    .owner__name {
        font-size: 20px;
        text-align: center;
    }

    .contactButton__wrapper {
        padding: 15px 80px;
    }

    .container {
        padding: 0 5px;
    }
}